$color-main : rgb(52,152,219);
$color-main__darker: rgb(41,128,185);
$color-dark : rgb(127,140,141);
$color-dark__text : rgb(44,62,80);
$color-light: rgb(236,240,241);
$color-light__outline: rgb(189,195,199);

